<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="UTF-8" /> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Semantic UI </title> 
  <!-- 使用CDN导入js和css 文件--> 
  <link href="./css/docs.css" rel="stylesheet">
<link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
<script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script>
        $(function () {
            $( "#toggle" ).on( "click", function() {
			$('.ui.sidebar').sidebar('toggle');});

			$('.ui.accordion').accordion();
        })
		
    </script> 
	
 </head> 
 <body> 
  <div class="ui thin sidebar vertical left menu  sidemenu inverted accordion"> 
   <a class="item header ">StackF</a> {{ range .Site.Data.links.list }} {{if .sub}} 
   <div class="item"> 
    <a class="title"><i class="home dropdown icon"></i> <b>{{.tag}}</b></a> 
    <div class="content menu">
      {{range .sub}} 
     <a class="item" href="#{{.tag}}"><i class="home icon"></i><b>{{.tag}}</b></a> {{ end }} 
    </div> 
   </div> {{ else }} 
   <a class="item" href="#{{.tag}}"><i class="home icon"></i><b>{{.tag}}</b></a> {{ end }} {{ end }} 
  </div> 
  
  <div class="pusher "> 
          <div class="full height">
          <div class="toc ">
            <div class="ui vertical inverted menu">
     
    <div class="item">
      <a class="ui logo icon image" href="/">
        <img src="/images/logo.png">
      </a>
    </div>
	   <a class="item header ">StackF</a> 
	   {{ range .Site.Data.links.list }} {{if .sub}} 
   <div class="item"> 
    <a class="title"><i class="dropdown "></i> <b>{{.tag}}</b></a> 
    <div class="content menu">
      {{range .sub}} 
     <a class="item" href="#{{.tag}}"><b>{{.tag}}</b></a> 

	 {{ end }} 
    </div> 
   </div> {{ else }} 
   <a class="item" href="#{{.tag}}"><b>{{.tag}}</b></a> {{ end }} {{ end }} 
    
    
            </div>
			</div>
          </div>
   <div class="ui grid "style="margin-left:250px"> 
	<div class="row ">
	 <div class="ten wide column centered ">
	<div class="ui top menu" ><a class="item" id="toggle"><i class="sidebar icon"></i></a></div>
	</div>
	</div>
   <div class="row">
      <div class="ten wide column centered ">
   {{ range .Site.Data.links.list }}
   {{if .sub}}
    {{range .sub}}
	
    <div class="ui stacked segment"> 
	<h4 class="ui large red ribbon label"id="{{.tag}}" >{{.tag}}</h4>
	<br><br>
     <div class="ui stackable four doubling cards"> 
	  {{range .item }}
      <div class="ui card" href="{{.siteLink}}" target="_blank"> 
       <div class="content"> 
        <div class="header">
         <img class="ui image" style="width: 16px;" src="https://www.google.cn/s2/favicons?domain={{.siteLink}}" /> <span style="padding-left:5px">{{.siteName}}</span></div> 
         <div class="meta" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{.siteLink}}</div> 
         <div class="description" >{{.description}}</div> 
       </div>
       <div  class="ui buttons">
<button class="ui labeled icon button"><i class="copy icon"></i> Copy </button>
<div class="or"></div>
<button class="ui right labeled icon button"><i class="right linkify icon"></i> Visit </button>
     </div>

    </div> 
	  {{ end }} 
     </div> 
    </div> 
	{{end}}
	{{else}}
	    <div class="ui stacked segment"> 
     <h4 class="ui header" id="{{.tag}}">{{.tag}}</h4> 
     <div class="ui four doubling cards"> 
	  {{range .item }}
      <div class="ui card" href="{{.siteLink}}" target="_blank"> 
        <div class="content"> 
         <div class="header">
          <img class="ui image" style="width: 16px;" src="https://www.google.cn/s2/favicons?domain={{.siteLink}}" /> {{.siteName}}</div> 
          <div class="meta" style="overflow: hidden;">{{.siteLink}}</div> 
          <div class="description">{{.description}}</div> 
        </div> 
     </div> 
	  {{ end }} 
     </div> 
    </div> 
	{{end}}
  {{end}}
   </div>    
   </div> 
   </div>
  </div>  
 </body>
</html>