<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="UTF-8" /> 
  <title>Semantic UI </title> 
  <!-- 使用CDN导入js和css 文件--> 
  <link href="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.css" rel="stylesheet" /> 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
  <script src="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.js"></script> 
  <script>
        $(function () {
            $( "#toggle" ).on( "click", function() {
			$('.ui.sidebar').sidebar('toggle');});

			$('.ui.accordion').accordion();
        })
		
    </script> 
 </head> 
 <body> 
  <div class="ui visible thin sidebar vertical left menu  sidemenu inverted accordion"> 
   <a class="item header ">侧边栏</a> {{ range .Site.Data.links.list }} {{if .sub}} 
   <div class="item"> 
    <a class="title"><i class="home dropdown icon"></i> <b>{{.tag}}</b></a> 
    <div class="content menu">
      {{range .sub}} 
     <a class="item" href="#{{.tag}}"><i class="home icon"></i><b>{{.tag}}</b></a> {{ end }} 
    </div> 
   </div> {{ else }} 
   <a class="item" href="#{{.tag}}"><i class="home icon"></i><b>{{.tag}}</b></a> {{ end }} {{ end }} 
  </div> 
  
  <div class="pusher "> 
   <div class="ui grid "> 
	   <div class="row">
		<div class="four wide column">123</div>
		<div class="four wide column">123</div>
		<div class=" four wide column">123</div>
	   </div>
   <div class="row">
      <div class="ten wide column centered ">
   {{ range .Site.Data.links.list }}
   {{if .sub}}
    {{range .sub}}
    <div class="ui stacked segment"> 
     <h4 class="ui header " id="{{.tag}}">{{.tag}}</h4> 
     <div class="ui raised cards"> 
	  {{range .item }}
      <div class="ui card" href="{{.siteLink}}"> 
       <div class="content"> 
        <img class="right floated mini ui image" src="https://www.google.cn/s2/favicons?domain={{.siteLink}}" /> 
        <div class="header">
         {{.siteName}}
        </div> 
        <div class="meta">
         {{.siteLink}}
        </div> 
        <div class="description">
        {{.description}}
        </div> 
       </div> 
      </div> 
	  {{ end }} 
     </div> 
    </div> 
	{{end}}
	{{else}}
	    <div class="ui stacked segment"> 
     <h4 class="ui header" id="{{.tag}}">{{.tag}}</h4> 
     <div class="ui raised cards"> 
	  {{range .item }}
      <div class="ui card" href="{{.siteLink}}"> 
       <div class="content"> 
        <img class="right floated mini ui image" src="https://www.google.cn/s2/favicons?domain={{.siteLink}}" /> 
        <div class="header">
         {{.siteName}}
        </div> 
        <div class="meta">
         {{.siteLink}}
        </div> 
        <div class="description">
        {{.description}}
        </div> 
       </div> 
      </div> 
	  {{ end }} 
     </div> 
    </div> 
	{{end}}
  {{end}}
   </div>    </div> 
   </div>
  </div>  
 </body>
</html>